* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* LAYERS HERE */
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(119, 148, 165);
  /* background-image: url("http://f3-h.de/aeromorph/img/texture.gif"); */
}

.score-update {
  font-family: 'Londrina Solid', cursive;
  font-weight: 500;
  margin: 30px 0 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 260px;
  font-size: 40px;
}

p {
  margin-right: 20px;
  margin-bottom: 10px;
}

#score {
  border: solid 2px;
  width: 200px;
  border-radius: 20px;
  height: 22px;
}

#update {
  background-color: #2c773f;
  width: 10%;
  border-radius: 20px;
  height: 99%;
  z-index: 7;
}

.scene {
  background-image: url(/img/Background-game.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  cursor: none;
  margin-bottom: 60px;
}

#message-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-family: 'Londrina Solid', cursive;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  font-size: 30px;
}

.garden {
  background-image: url(/img/garden.png);
  width: 100%;
  height: 12vh;
  /* background-color: #73877b; */
  z-index: 10;
  position: absolute;
  bottom: 42px;
}

.button {
  width: 100%;
  height: 6vh;
  background-color: #56a060;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* position: absolute;
  bottom: 0px; */
}

.button>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#music-button {
  display: inline-block;
  padding: 0.7em 1.4em;
  /*margin: 0 0.3em 0.3em 0; */
  border-radius: 0.4em;
  text-decoration: none;
  font-family: 'Londrina Solid', cursive;
  text-transform: uppercase;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #00691a;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
  border: none;
  outline: none;
}

#music-button:active {
  top: 0.4em;
}

#restart-button {
  display: inline-block;
  padding: 0.7em 1.4em;
  /*margin: 0 0 0.3em 0; */
  border-radius: 0.4em;
  text-decoration: none;
  font-family: 'Londrina Solid', cursive;
  text-transform: uppercase;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #2c773f;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
  border: none;
  outline: none;
}

#restart-button:active {
  top: 0.4em;
}

.replay {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.sound-music {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background-size: cover;
}

.sound-music.on {
  background-image: url(/img/music-on.png);
}

.sound-music.off {
  background-image: url(/img/music-off.png);
}

/* CHARACTERS HERE */
.character-right {
  width: calc(630px / 7);
  height: 198px;
  background-image: url(/img/right-character-2.png);
  z-index: 7;
  /* -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.character-left {
  width: calc(630px / 7);
  height: 198px;
  background-image: url(/img/left-character-2.png);
  z-index: 7;
}

.bad-thought {
  /* background-color: #93caa9; */
  background-image: url(/img/badthought.gif);
  height: 100px;
  width: 100px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  /* bottom: 15px; */
}

.good-thought {
  background-color: #93caa9;
  /* background-image: url(/img/badthought.gif); */
  height: 100px;
  width: 100px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 200px;
}

.super-good-thought {
  background-color: #015d3f;
  /* background-image: url(/img/badthought.gif); */
  height: 50px;
  width: 50px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 350px;
}

@keyframes animate {
  from {
    background-position: 0;
  }

  to {
    background-position: 630px;
  }
}