* {
    margin: 0;
    padding: 0;
    font-family: 'Londrina Solid', cursive;
}
body{
    background: linear-gradient(to bottom, #40405c 0%, #6f71aa 80%, #8a76ab 100%);
}
#play {
    display: inline-block;
    padding: 0.7em 1.4em;
    /*margin: 0 0.3em 0.3em 0; */
    border-radius: 0.4em;
    text-decoration: none;
    font-family: 'Londrina Solid', cursive;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    background-color: #CDD1C4;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    border: none;
    outline: none;
    margin: 0 15px 0 40px;
    font-size: 30px;
    z-index:2;
}

h1 {
    font-size: 80px;
    color: white;
    margin-bottom: 40px;
}

.scene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url(/img/background-game-start.png);   
    background-size: cover;
    background-repeat: no-repeat;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    text-align: center;
    height: 120px;
    background-color: #CDD1C4;
    border: 2px solid;
    border-radius: 20px;
    z-index: 2;
}

#title-instruction {
    font-size: 40px;
}

.garden {
    background-image: url(/Game/img/garden.png);
    width: 100%;
    height: 12vh;
    /* background-color: #73877b; */
    z-index: 8;
    position: absolute;
    bottom: 0;
    border: none;
}
.characters{
    background-image: url(/img/characters.png);
    /* background-color: #73877b; */
    /* position: absolute; */
    /* bottom: 30px; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 150px;
    position: absolute;
    bottom: 80px;
    z-index: 0;
}
.good-thought-1{
    width: 60px;
    height: 60px;
    background-image: url(/img/cloud-smile.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 500px;
    z-index: 1;
}
.good-thought-2{
    width: 60px;
    height: 60px;
    background-image: url(/img/cloud-smile.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 600px;
    z-index: 1;
}

.vibrate-button {
    -webkit-animation: vibrate-button 0.5s linear infinite both;
    animation: vibrate-button 0.5s linear infinite both;
}

@-webkit-keyframes vibrate-button {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes .vibrate-button {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}